*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #090b1a;
  color: rgba(255, 255, 255, 0.75);
  height: 100vh;
  line-height: 1.7; }

main {
  max-width: 375px;
  padding-inline: 1rem; }

@media (min-width: 1200px) {
  main {
    max-width: 100%;
    margin: 10rem; } }

body {
  font-size: 15px;
  font-family: "inter"; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-col {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem; }
  .attribution a {
    color: #3e52a3; }

@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-areas: "stats hero-image";
    grid-template-columns: repeat(2, 1fr); } }

.container {
  background-color: #1b1938;
  border-radius: 15px;
  gap: 2rem;
  text-align: center; }

.hero-box {
  position: relative; }

.hero-image {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  display: block; }

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  background-color: rgba(170, 92, 219, 0.5); }

.stats {
  padding-inline: 2.5rem;
  gap: 2rem; }
  .stats-header--heading {
    color: white;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 1rem;
    font-weight: 700;
    font-family: "lexend deca"; }
    .stats-header--heading span {
      color: #aa5cdb; }
  .stats-header--para {
    font-family: "inter";
    font-weight: 400; }
  .stats-section {
    gap: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase; }
    .stats-section--subheading {
      color: white;
      font-size: 24px; }
    .stats-section--subpara {
      font-size: 13px;
      letter-spacing: 1px; }

@media (min-width: 1200px) {
  .container {
    text-align: left;
    max-width: 1200px; }
  .hero-box {
    grid-area: hero-image;
    align-self: stretch; }
  .hero-image {
    border-radius: 0 15px 15px 0; }
  .hero-overlay {
    border-radius: 0 15px 15px 0; }
  .stats {
    grid-area: stats;
    padding: clamp(1rem, 7vw, 3rem);
    gap: 5rem; }
    .stats-header--para {
      font-size: 14px; }
    .stats-section {
      width: 100%;
      flex-direction: row;
      justify-content: start;
      margin-bottom: 0;
      gap: 4rem; }
      .stats-section--subheading {
        font-size: 18px; }
      .stats-section--subpara {
        font-size: 12px; } }
