*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-main-background;
  color: $color-main-para;
  height: 100vh;
  line-height: 1.7;
}

main {
  max-width: 375px;
  padding-inline: 1rem;
}

@media (min-width: 1200px) {
  main {
    max-width: 100%;
    margin: 10rem;
  }
}
