$color-main-background: hsl(233, 47%, 7%);
$color-card-background: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);

$color-main-heading-stats: hsl(0, 0%, 100%);
$color-main-para: hsla(0, 0%, 100%, 0.75);
$color-stat-headings: hsla(0, 0%, 100%, 0.6);

$fs-body: 15px;

$ff-body: "inter";
$ff-heading: "lexend deca";

$fw-heading: 700;
$fw-para: 400;
